
/* Your CSS Code here. */
.container{
	background:darkblue;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-item:center;
	
	
}

.container .item{
	width:25%;
	
	
 
	background:lightcoral;
	
}