
/* Your CSS Code here. */
.container{
	background:darkblue;
	height:400px;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	
	
}

.container .item{
	width:25%;
	margin:10px;
	background:lightcoral;
	
}